.search-form {
  background-size: cover;
  padding: 70px 0;
  height: 5rem;

}
.bg-color {
    background-color: #537895;
    background-image: linear-gradient(315deg, #537895 0%, #09203f 74%);
}
.logo-tx {
    color: white;
}
.logo-img {
    border-radius: 8px;
}
.flexer {
    display: flex;
}
.logo-text {
    margin-right: 1rem;
}
.article-title {
    font-size: 1rem;
}
.truncate {
  width: 400px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.bg-purple {
    background-color: #b3cdd1;
    background-image: linear-gradient(315deg, #b3cdd1 0%, #9fa4c4 74%);

}
.find-location {
  position: relative;
  margin-top: auto;
  border-radius: 8px;
  margin-bottom: auto;
}
  .find-location input[type="text"] {
    width: 100%;
    padding: 20px 50px 20px 20px;
    border-radius: 4px;
    background: #1e202b;
    color: white;
  }
  .find-location button[type="submit"] {
    position: absolute;
    top: 5px;
    right: 5px;
    background: black;
    color: white;
    padding: 0 30px;
    bottom: 5px;
  }
