<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Today News</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}" type="text/css">
    <link href="https://assets.website-files.com/5c6e6f46bf98b2013cf621c5/css/portfolio-starter-template.webflow.49f1fedc7.css"
        rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="{{url_for('static', filename='css/templatemo-style.css')}}" type="text/css">
    <link href="{{url_for('static', filename='css/style.css')}}" rel="stylesheet" type="text/css">
    <link href="{{ url_for('static', filename='img/logo.ico') }}" rel="shortcut icon" type="image/x-icon"/>

</head>
<body class="bg-color">
    <div class="navigation w-nav">
        <div class="navigation-items">
          <a class="logo-link w-nav-brand w--current flexer" href="/">
            <h2 class="logo-tx">Stock Info</h2>
          </a>
          <div class="navigation-wrap">
            <nav class="navigation-items w-nav-menu" role="navigation">
              <a class="navigation-item w-nav-link logo-tx" href="/">Home</a>
              <a class="navigation-item w-nav-link w--current logo-tx" href="/news">News</a>
            </nav>
            <div class="menu-button w-nav-button"><img
                    alt=""
                    class="menu-icon"
                    src=""
                    width="22"/></div>
          </div>
        </div>
    </div>

    <div class="tm-hero d-flex justify-content-center align-items-center" data-parallax="scroll" style="background-image: url({{url_for('static', filename='img/bg_image.jpg')}});" data-image-src="{{url_for('static', filename='img/bg_image.jpg')}}">
    </div>

    <div class="container-fluid tm-container-content tm-mt-60">
        <div class="row tm-mb-90 tm-gallery">
        	  <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 mb-5">
                <figure class="effect-ming tm-video-item">
                    <img src="{{article_data['article1_img']}}" alt="Image" class="img-fluid">
                    <figcaption class="d-flex align-items-center justify-content-center">
                        <h2 class="truncate" style="font-size: 1rem;">{{article_data['article1_title']}}</h2>
                        <a href="{{article_data['article1_url']}}">View more</a>
                    </figcaption>
                </figure>
                <div class="d-flex justify-content-between">
                    <span class="author">{{article_data['article1_author']}}</span>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 mb-5">
                <figure class="effect-ming tm-video-item">
                    <img src="{{article_data['article2_img']}}" alt="Image" class="img-fluid">
                    <figcaption class="d-flex align-items-center justify-content-center">
                        <h2 class="truncate" style="font-size: 1rem;">{{article_data['article2_title']}}</h2>
                        <a href="{{article_data['article2_url']}}">View more</a>
                    </figcaption>
                </figure>
                <div class="d-flex justify-content-between">
                    <span class="author">{{article_data['article2_author']}}</span>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 mb-5">
                <figure class="effect-ming tm-video-item">
                    <img src="{{article_data['article3_img']}}" alt="Image" class="img-fluid">
                    <figcaption class="d-flex align-items-center justify-content-center">
                        <h2 class="truncate" style="font-size: 1rem;">{{article_data['article3_title']}}</h2>
                        <a href="{{article_data['article3_url']}}">View more</a>
                    </figcaption>
                </figure>
                <div class="d-flex justify-content-between">
                    <span class="author">{{article_data['article3_author']}}</span>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 mb-5">
                <figure class="effect-ming tm-video-item">
                    <img src="{{article_data['article4_img']}}" alt="Image" class="img-fluid">
                    <figcaption class="d-flex align-items-center justify-content-center">
                        <h2 class="truncate" style="font-size: 1rem;">{{article_data['article4_title']}}</h2>
                        <a href="{{article_data['article4_url']}}l">View more</a>
                    </figcaption>
                </figure>
                <div class="d-flex justify-content-between">
                    <span class="author">{{article_data['article4_author']}}</span>
                </div>
            </div>

            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 mb-5">
                <figure class="effect-ming tm-video-item">
                    <img src="{{article_data['article5_img']}}" alt="Image" class="img-fluid">
                    <figcaption class="d-flex align-items-center justify-content-center">
                        <h2 class="truncate" style="font-size: 1rem;">{{article_data['article5_title']}}</h2>
                        <a href="{{article_data['article5_url']}}">View more</a>
                    </figcaption>
                </figure>
                <div class="d-flex justify-content-between">
                    <span class="author">{{article_data['article5_author']}}</span>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 mb-5">
                <figure class="effect-ming tm-video-item">
                    <img src="{{article_data['article6_img']}}" alt="Image" class="img-fluid">
                    <figcaption class="d-flex align-items-center justify-content-center">
                        <h2 class="truncate" style="font-size: 1rem;">{{article_data['article6_title']}}</h2>
                        <a href="{{article_data['article6_url']}}">View more</a>
                    </figcaption>
                </figure>
                <div class="d-flex justify-content-between">
                    <span class="author">{{article_data['article6_author']}}</span>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 mb-5">
                <figure class="effect-ming tm-video-item">
                    <img src="{{article_data['article7_img']}}" alt="Image" class="img-fluid">
                    <figcaption class="d-flex align-items-center justify-content-center">
                        <h2 class="truncate" style="font-size: 1rem;">{{article_data['article7_title']}}</h2>
                        <a href="{{article_data['article7_url']}}">View more</a>
                    </figcaption>
                </figure>
                <div class="d-flex justify-content-between">
                    <span class="author">{{article_data['article7_author']}}</span>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 mb-5">
                <figure class="effect-ming tm-video-item">
                    <img src="{{article_data['article8_img']}}" alt="Image" class="img-fluid">
                    <figcaption class="d-flex align-items-center justify-content-center">
                        <h2 class="truncate" style="font-size: 1rem;">{{article_data['article8_title']}}</h2>
                        <a href="{{article_data['article8_url']}}">View more</a>
                    </figcaption>
                </figure>
                <div class="d-flex justify-content-between ">
                    <span class="author">{{article_data['article8_author']}}</span>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 mb-5">
                <figure class="effect-ming tm-video-item">
                    <img src="{{article_data['article9_img']}}" alt="Image" class="img-fluid">
                    <figcaption class="d-flex align-items-center justify-content-center">
                        <h2 class="truncate" style="font-size: 1rem;">{{article_data['article9_title']}}</h2>
                        <a href="{{article_data['article9_url']}}">View more</a>
                    </figcaption>
                </figure>
                <div class="d-flex justify-content-between ">
                    <span class="author">{{article_data['article9_author']}}</span>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 mb-5">
                <figure class="effect-ming tm-video-item">
                    <img src="{{article_data['article10_img']}}" alt="Image" class="img-fluid">
                    <figcaption class="d-flex align-items-center justify-content-center">
                        <h2 class="truncate" style="font-size: 1rem;">{{article_data['article10_title']}}</h2>
                        <a href="{{article_data['article10_url']}}">View more</a>
                    </figcaption>
                </figure>
                <div class="d-flex justify-content-between">
                    <span class="author">{{article_data['article10_author']}}</span>
                </div>
            </div>
        </div>
    </div>

    <footer class="tm-bg-gray pt-5 pb-3 tm-text-gray tm-footer">
        <div class="container-fluid tm-container-small">
            <div class="row">
                <div class="col-lg-8 col-md-7 col-12 px-5 mb-3">
                    Copyright 2020 Program Explorers. All rights reserved.
                </div>
                <div class="col-lg-4 col-md-5 col-12 px-5 text-right">
                    Designed by <a href="https://templatemo.com" class="tm-text-gray" rel="sponsored" target="_parent">TemplateMo</a>
                </div>
            </div>
        </div>
    </footer>

</body>
</html>