<!DOCTYPE html>
<html>
<head>
  <title>Stock News</title>
  <meta content="Stock News" property="og:title"/>
  <meta content="width=device-width, initial-scale=1" name="viewport"/>
  <link href="https://assets.website-files.com/5c6e6f46bf98b2013cf621c5/css/portfolio-starter-template.webflow.49f1fedc7.css"
        rel="stylesheet" type="text/css"/>
  <link href="{{url_for('static', filename='css/style.css')}}" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js" type="text/javascript"></script>
  <script type="text/javascript">
    WebFont.load({ google: {
        families: ["Montserrat:100,100italic,200,200italic,300,300italic,400,400italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic"]
    }});
  </script>
  <link href="{{ url_for('static', filename='img/logo.ico') }}" rel="shortcut icon" type="image/x-icon"/>
</head>
<body>
<div class="bg-purple">
  <div class="navigation w-nav">
    <div class="navigation-items">
      <a class="logo-link w-nav-brand w--current flexer" href="/">
        <h2 class="logo-text">Stock Info</h2>
      </a>
      <div class="navigation-wrap">
        <nav class="navigation-items w-nav-menu" role="navigation">
          <a class="navigation-item w-nav-link w--current" href="/">Home</a>
          <a class="navigation-item w-nav-link" href="/about">News</a>
        </nav>
        <div class="menu-button w-nav-button"><img
                alt=""
                class="menu-icon"
                src=""
                width="22"/></div>
      </div>
    </div>
  </div>
  <div class="section">
    <div class="container">
      <div class="intro-wrap">
        <div class="search-form"
             style="background-image: url({{bg_images}});">
          <div class="container">
            <form autocomplete="off" class="find-location" method="post">
              <div class="autocomplete">
                <input id="search" name="city" placeholder="Enter stock name or ticker..." type="text">
              </div>
              <button type="submit">
                <i class="fa fa-search"></i>
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section">
    <div class="w-layout-grid works-grid" id="works-grid">
      <div id="w-node-8f65c72d8fa5-b6f621c6">
        <a class="work-image cc-work-1 w-inline-block" href="/work/project-1"></a>
        <div class="work-description">
          <a class="project-name-link" href="/work/project-1">Project 1<br/></a>
          <div class="paragraph-light">Graphic Design</div>
        </div>
      </div>
      <div id="w-node-8f65c72d8fad-b6f621c6">
        <a class="work-image cc-work-2 w-inline-block" href="/work/project-2"></a>
        <div class="work-description">
          <a class="project-name-link" href="/work/project-2">Project 2</a>
          <div class="paragraph-light">Web Design</div>
        </div>
      </div>
      <div id="w-node-8f65c72d8fb4-b6f621c6">
        <a class="work-image cc-work-3 w-inline-block" href="/work/project-3"></a>
        <div class="work-description">
          <a class="project-name-link" href="/work/project-3">Project 3</a>
          <div class="paragraph-light">Web Design</div>
        </div>
      </div>
      <div id="w-node-8f65c72d8fbb-b6f621c6">
        <a class="work-image cc-work-4 w-inline-block" href="/work/project-4"></a>
        <div class="work-description">
          <a class="project-name-link" href="/work/project-4">Project 4</a>
          <div class="paragraph-light">Graphic Design</div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--<div class="footer-wrap">-->
<!--    <div class="footer-links">-->
<!--        <a class="footer-item" href="https://www.facebook.com/webflow/" target="_blank">Facebook</a>-->
<!--        <a class="footer-item" href="https://twitter.com/webflow" target="_blank">Twitter</a>-->
<!--        <a class="footer-item" href="https://www.instagram.com/webflowapp/" target="_blank">Instagram</a>-->
<!--    </div>-->
<!--</div>-->
</body>
</html>
